body {
/*  font-family: 'Noxie One', sans-serif;*/
  /*font-family: 'Bitter', serif;*/
  font-family: 'Source Sans Pro Light', sans-serif;
/*  background-image: url("images/bck.jpg");
  background-size: 100%;
  font-weight: 300;*/
  background: url(images/bck.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-color:aquamarine;

}

#button {

}

div {
    text-align: left;
}

.input-group mb-3 {
    float:left;
}

.input-group-append {
    float:left;
}

#team-name,#room-combo {
    color: #3A9929;
}

#mainbox {
    border-radius: 1.5rem;
    padding: 4rem;
    padding-bottom: 7rem;
    background-image: url("images/Fluorescent-Gradient.jpg");
    opacity: 1;


}

.name {
    padding-bottom: 1.5rem;
}

.modal-footer {
    margin-top: 2rem;
    margin-bottom: -6.5rem;
    height: -2rem;
    border-top: 1px solid #ffffff !important;
}


.btn btn-warning {
    margin-top:1000px;
}

.btn btn-light {
    text-decoration-color: gray;
}








